asgiref==3.4.1
certifi==2022.12.07
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==39.0.1
distlib==0.3.4
Django==4.1.9
docopt==0.6.2
filelock==3.6.0
Flask==2.2.5
Flask-Admin==1.6.0
Flask-Login==0.5.0
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysql-connector-python==8.0.27
mysqlclient==2.1.0
Pillow==9.3.0
pipreqs==0.4.11
platformdirs==2.5.1
protobuf==3.19.5
psycopg2==2.9.3
pycparser==2.21
PyMySQL==1.0.2
requests==2.31.0
six==1.16.0
SQLAlchemy==1.4.32
sqlparse==0.4.4
stripe==2.67.0
tzdata==2021.5
urllib3==1.26.7
virtualenv==20.13.1
Werkzeug==2.2.3
WTForms==3.0.1
yarg==0.1.9
