@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:#444;
}

/*
section{
    padding:5rem 9%;
}*/

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:#999DA0;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:green;
}
/* first page header*/

/*home*/

.quoteContainer{
    background-size: cover;
    background-position: center;
}
.quoteContainer .middleQuote{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}
.quoteContainer .middleQuote .quote{
    flex:1 1 42rem;
}
.quoteContainer .middleQuote .quote h3{
    color:#444;
    font-size: 25px;
}
.quoteContainer .middleQuote .quote p{
    color:#444;
    font-size: 18px;
    line-height: 2;
    padding:1rem 0;
}

.quoteContainer .middleQuote .quotePic{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}
.quoteContainer .middleQuote .quotePic img{
    height: 260px;
    width: 320px;
}


.iconsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap:1.5rem;
    background: #999DA0;
}

.iconsContainer .icons{
    display: flex;
    align-items: center;
    gap:20px;
    padding:1rem 0;
}

.iconsContainer .icons i{
    font-size: 1.5rem;
    color:aliceblue;
}

.iconsContainer .icons h3{
    font-size: 2.2rem;
    color:aliceblue;
    padding-bottom: .5rem;
}

.iconsContainer .icons p{
    font-size: 1.4rem;
    color:aliceblue;
}
