@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:#444;
}

/*
section{
    padding:5rem 9%;
}*/

.heading{
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 2rem;
    padding:.3rem 1rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:#999DA0;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:green;
}
/* Admin*/
.adminPage{
  width: 100%;
}
.adminSideBar{
  width: 20%;
  float: left;
  
}
.adminMainPage{
  width: 80%;
  float: right;
}

/*home*/

.quoteContainer{
    background-size: cover;
    background-position: center;
    position:fixed;
    width:100%;
}
.quoteContainer .middleQuote{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    width: 55%;
}
.quoteContainer .middleQuote .quote{
    flex:1 1 40rem;
}
.quoteContainer .middleQuote .quote h3{
    color:#444;
    font-size: 35px;
}
.quoteContainer .middleQuote .quote p{
    color:#444;
    font-size: 15px;
    line-height: 2;
    padding:1rem 0;
}

.quoteContainer .middleQuote .quotePic{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}
.quoteContainer .middleQuote .quotePic img{
    height: 460px;
    width: 100%;
}


.iconsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap:1.5rem;
    width: 55%;
}

.iconsContainer .icons{
    display: flex;
    align-items: center;
    gap:20px;
    padding:1rem 0;
}

.iconsContainer .icons i{
    font-size: 2rem;
    color:var(--black);
}

.iconsContainer .icons h3{
    font-size: 1.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.iconsContainer .icons p{
    font-size: 1rem;
    color:var(--black);
}

/* slides in the home page */

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    right: -20%;
  }
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 2s;
  }
  .slide img{
    width: 800px;
    height: 500px;
  }
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  } 
  .manual-btn:hover{
    background: #40D3DC;
  }  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }


  /* Books section */

  

.books{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
}  
.bookContainer{
  display: flex;
  width: 210px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 4px rgb(0,0,0,25%);
  margin: 3px;
}

.bookContainerImage{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookContainerImage img{
  width: 100%;
  height: 240px;
}

.bookContainerImage img:hover{
  cursor: pointer;
}

.description{
  text-align: center;
}
.description h4{
  font-size: 16px;
  font-weight: 1.7rem;
  letter-spacing: 1px;
  color: var(--black);
}
.description h5{
  font-size: 15px;
  font-weight: 1rem;
  color: brown;
}
.description button{
  display:inline-block;
  padding:.4rem 2rem;
  border-radius: .3rem;
  color:#fff;
  background:#999DA0;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 300;
}

/* News */

.newsBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 50vh;
}
.newsContainer{
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 4px rgb(0,0,0,25%);
  margin: 5px;
  padding: 0 10px 0 10px;
}

/* .writeUp{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link{
  text-align: center;
} */


/* home section tags */
.children, .teensAndAdult, .news, .contactUs{
  padding: 2rem 5%;
}

/* contact box */

.contactBox{
  justify-content: center;
  text-align: center;
  display: flex;
  width: 100%;
}
.contact{
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 60px;
}
.mainContact{
  display: flex;
  flex-direction: row;
}
.mainContact i{
  font-size: 25px;
  padding-right: 7px;
}


.footer{
  justify-content: center;
  text-align: center;
  background: #444;
  width: 100%;
}
.footer i{
  color: #444;
}