<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FavBooks</title>
    <link rel="icon" href="{{url_for('static', filename='img/bookicon.ico')}}"/>
    <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
    <section class="hero has-background-light is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('home') }}" class="navbar-item">
                                Home
                            </a>
                            {% endif %}
                            <a href="{{ url_for('premium') }}" class="navbar-item">
                                Go Premium
                            </a>
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('register') }}" class="navbar-item">
                                Register
                            </a>
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Login
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    <div class="hero-body">
        <div class="container has-text-centered">
           {% block content %}
           {% endblock %}
        </div>
    </div>
    </section>
</body>
</html>