{% extends "base.html" %}

{% block navigation %}


<div class="hero-head">
  <nav class="navbar">
      <div class="container">
          <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                  <a href="#home" class="navbar-item">Home</a>
                  <a href="#children" class="navbar-item">Children</a>
                  <a href="#teensAndAdult" class="navbar-item">Teens & Adults</a>
                  <a href="#news" class="navbar-item">News</a>
                  <a href="#contactUs" class="navbar-item">Contact Us</a>
              </div>
          </div>
      </div>
  </nav>
</div>

{% endblock %}

{% block content %}

<!-- <section id="home"> -->
    <div class="slider" id="home">
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">

      <div class="slide first">
        <img src="{{url_for('static', filename='img/slidebackground1.jpg')}}" alt="">
      </div>
      <div class="slide">
        <img src="{{url_for('static', filename='img/slidebackground2.jpg')}}" alt="">
      </div>
      <div class="slide">
        <img src="{{url_for('static', filename='img/slidebackground3.jpg')}}" alt="">
      </div>
      <div class="slide">
        <img src="{{url_for('static', filename='img/slidebackground4.jpg')}}" alt="">
      </div>
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
    </div>
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
  </div>
<!-- </section> -->

{% endblock %}

{% block body %}
 <section class="children has-background-light is-fullheight" id="children">
  <h1 class="heading"> <span>Children</span> </h1>

  <div class="books">
    {% for cBook in cBooks %}
      {% for file in files %}
        {% if cBook.filename == file %}
    
    <div class="bookContainer" id="{{ cBook.bookId }}">
        <div class="bookContainerImage">
             <img src="{{ url_for('upload', filename=file) }}"> 
        </div>
        <div class="description">
            <h4>{{ cBook.title }}</h4>
            <h5>{{ cBook.author }}</h5>
            <button id="childrenBook" class="button is-medium">{{ cBook.price }}</button>
        </div>
    </div>
    
        {% endif %}
      {% endfor %}
    {% endfor %}
    


  </div>
  </section> 

  <section class="teensAndAdult has-background-light is-fullheight" id="teensAndAdult">
   <h1 class="heading"> <span>Teens and Adult</span> </h1>
   <div class="books">
    {% for aBook in aBooks %}
      {% for file in files %}
        {% if aBook.filename == file %}
    <div class="bookContainer" id="{{ aBook.bookId }}">
        <div class="bookContainerImage">
            <img src="{{  url_for('upload', filename=file) }}">
        </div>
        <div class="description">
            <h4>{{ aBook.title }}</h4>
            <h5>{{ aBook.author }}</h5>
            <button id="adultBook" class="button is-medium">{{ aBook.price }}</button>
        </div>
    </div>
    
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  </section> 

  <section class="news has-background-light is-fullheight" id="news">
   <h1 class="heading"> <span>news</span> </h1>
   <div class="newsBox">
     {% for mainNews in news %}
     <div class="newsContainer">
       <p>{{ mainNews.writeUp }} <br><a href="{{ mainNews.link }}" target="_blank">read more</a></p>
     </div>
     {% endfor %}
   </div>
  </section> 
  <section class="contactUs has-background-light is-fullheight" id="contactUs">
   <h1 class="heading"> <span>contactUs</span> </h1><br>
   <div class="contactBox">
     <div class="contact">
       <div class="mainContact">
        <i class="fas fa-phone"></i>
         <p>012345678</p>
        </div>
        <div class="mainContact">
          <i class="fas fa-phone"></i>
          <p>019876543</p>
        </div>
     </div>
     <div class="contact">
      <div class="mainContact">
       <i class="fa fa-envelope"></i>
        <p>contact@favbooks.com</p>
       </div>
       <div class="mainContact">
         <i class="fa fa-facebook-square"></i>
         <p>favbooks</p>
       </div>
     </div>
     <div class="contact">
      <div class="mainContact">
       <i class="fa fa-twitter"></i>
        <p>favbooks</p>
       </div>
       <div class="mainContact">
         <i class="fa fa-instagram"></i>
         <p>favbooks</p>
       </div>
     </div>
     <div class="contact">
      <div class="mainContact">
       <i class="fa fa-linkedin"></i>
        <p>favbooks</p>
       </div>
       <div class="mainContact">
         <i class="fa fa-pinterest"></i>
         <p>classicsfavbooks</p>
       </div>
     </div>
   </div>
  </section>
    <div class="footer">
    <i class="fa fa-copyright">favBooks 2022</i>
  </div>

  

  {% endblock %}

 