{%extends "base.html"%}

{%block content%}

    <!-- <section class="quoteContainer" style="background-image: url({{ url_for('static', filename = 'img/background.jpg')}});"> -->
        <section class="quoteContainer">
        <div class="middleQuote">
            <div class="quote">
                <!--<h3>"Laugh as much as you choose, but you will not laugh me out of my opinion."- Jane Austen, 'Pride and Prejudice'</h3>-->
                <h3><b>"You know you've read a good book when you turn the last page and feel a little as if you have lost a friend" - Paul Sweeney</b></h3>
                <p><i><b>Lover of classic books? Looking for interesting children books? You can purchase a lot of books at the minimum rate here! Register and gain access to quality books you never knew existed!</b></i></p>
            </div>
           <!-- <div class="quotePic">
                <img src="{{url_for('static', filename='img/book3.jpg')}}"/>
            </div>-->
        </div>
    </section>

   <!-- <section class="iconsContainer">
        <div class="icons">
            <i class="fas fa-download"></i>
            <div class="content">
                <h3>Free Download</h3>
                <p>Access to some books</p>
            </div>
        </div>
        <div class="icons">
            <i class="fas fa-solid fa-crown"></i>
            <div class="content">
                <h3>Premium</h3>
                <p>Access to all books</p>
            </div>
        </div>     
        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>24/7 Support</h3>
                <p>Contact us anytime</p>
            </div>
        </div>
    </section>

    </section>

    -->
{%endblock%}