{%extends "base.html"%}

{%block content%}
    <!--<header class="header">
    <div class="menu">
        <a href="#"><img src="{{url_for('static', filename='img/booklogo.jpg')}}">FavBooks</a>
        <!!--<img src="imgs/booklogo.jpg">
        <h3>FavBooks</h3>-->
<!--<h1>Index</h1>
    </div>
    </header>-->
    <section class="quoteContainer" style="background-image: url({{ url_for('static', filename = 'img/background.jpg')}});">
        <div class="middleQuote">
            <div class="quote">
                <!--<h3>"Laugh as much as you choose, but you will not laugh me out of my opinion."- Jane Austen, 'Pride and Prejudice'</h3>-->
                <h3>"You know you've read a good book when you turn the last page and feel a little as if you have lost a friend" - Paul Sweeney</h3>
                <p>Lover of classic books? Looking for interesting children books? You can download a lot of books for FREE here! Become a Premium member and gain access to all our books.</p>
                <a href="{{url_for('login')}}">Login</a>
            </div>
            <div class="quotePic">
                <img src="{{url_for('static', filename='img/book3.jpg')}}"/>
            </div>
        </div>
    </section>

   <!-- <section class="iconsContainer">
        <div class="icons">
            <i class="fas fa-download"></i>
            <div class="content">
                <h3>Free Download</h3>
                <p>Access to some books</p>
            </div>
        </div>
        <div class="icons">
            <i class="fas fa-solid fa-crown"></i>
            <div class="content">
                <h3>Premium</h3>
                <p>Access to all books</p>
            </div>
        </div>     
        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>24/7 Support</h3>
                <p>Contact us anytime</p>
            </div>
        </div>
    </section>

    </section>

    -->
{%endblock%}